<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
=======
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> cabecera
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
<<<<<<< HEAD
.conteiner__text{
    width: 80%;
    border: black solid thin;
    margin: auto;
    padding: 0px 25px;
=======
.conteiner__text {
  width: 80%;
  border: black solid thin;
  margin: auto;
>>>>>>> cabecera
}
.conteiner__text-head {
box-shadow: 0px 0px 10px black;
  background-color: blue;
  display: flex;
  align-items: center;
  padding: 20px 25px;
  color: white;
}
<<<<<<< HEAD
.conteiner__text-post h1{
    color: black;
    font-size: 5rem;
    margin: 25px 0px;
}
.conteiner__text-post p{
    color: black;
    font-size: 2rem;
    margin: 25px 0px;
}
=======
.conteiner__text-head h1 {
  margin-right: 20px;
}
.conteiner__text--head-tagline {
  font-size: 2.2rem;
}
.conteiner__text-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.conteiner__text-post h1 {
  color: black;
  font-size: 5rem;
  margin: 25px;
}
.conteiner__text-post p {
  color: black;
  font-size: 2rem;
  margin: 25px;
}
>>>>>>> cabecera
